# Налаштування редакторів коду та IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системні файли ОС
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Логи та тимчасові файли
*.log
npm-debug.log*

.gitignore
